{% extends 'base.html' %}
{% block content %}
<h2>Playlists</h2>

<a href="{{ url_for('criar_playlist') }}">Adicionar Nova Playlist</a>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Música</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
        <tr>
            <td>{{ playlist.get_id() }}</td>
            <td>{{ playlist.get_nome() }}</td>
            <td>{{ playlist.get_descricao() }}</td>
            <td>
                {% for musica in playlist.musicas %}
                {{ musica.get_titulo() }} - {{ musica.get_artista() }} <br>
                {% endfor %}
            </td>

            <td>
                <a href="{{ url_for('editar_playlist', id=playlist.get_id()) }}">Editar</a> |
                <a href="{{ url_for('deletar_playlist', id=playlist.get_id()) }}"
                    onclick="return confirm('Deseja excluir esta playlist?')">Excluir</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Nenhuma playlist cadastrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="{{ url_for('listar_musicas') }}">Ver Músicas</a>
</p>
{% endblock %}